body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.event-grid {
  margin: 10px;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 450px;
  width: calc(100% - 20px);
  min-width: 700px;
}

.event-grid div {
  background-color:black;
}
