body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 600px;
  text-align: center;
  vertical-align: center;
}

.event-grid {
  margin: 10px 0;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  height: 200px;
  width: 600px;
  user-select: none;
  font-weight: 700;
}

.event {
  position: relative;
  box-sizing: border-box;
  border: solid 2px;
  background-color: #AAA;
}

.event.enabled {
  background-color: #99D;
}

.coord-box {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #555;
  transition: opacity .5s;
  opacity: 0;
}

.event.enabled:hover>.coord-box {
  opacity: 1;
}

.event-info {
  position: absolute;
  font-size: .8em;
  left: 3px;
  top: 0;
}

.add-event {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.2em;
}

.event-progress-overlay {
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  width: 0;
}

.progress.enter {
  width: 0;
}

.progress.enter-active {
  width: 100%;
}

.progress.enter-done {
  width: 100%;
}


.event-progress-enter {

}

.event-progress-enter.event-progress-enter-active {

}

.progress.pass {
  background-color: #9D9;
}

.progress.fail {
  background-color: #D99;
}

.event-input {
  margin: 0 6px;
}


input.event-input {
  width: 200px;
}

.faux-console-desc {
  margin-top: 10px;
  margin-bottom: 0;
}

.faux-console {
  margin: 0 0 10px 0;
  border: solid 2px black;
  height: 200px;
  width: 600px;
  overflow-y: auto;
  text-align: left;
}

.control {
  margin: 0 5px;
}
